








			<div class="wrap">
		             <div class="box">
		                 <div class="box-icon">
		                     <span class="fa fa-4x fa-connectdevelop"></span>
		                 </div>
		                 <div class="info">
		                     <h2 class="text-center"><%= @job.title%></h2>
												 <p class="text-indentstyle">
												 	<%= simple_format(@job.description) %>

												 </p>
											 <%= link_to("  投个简历", new_job_resume_path(@job), :style => "font-size: 30px; ", :class => "btn btn-primary fa fa-envelope-o" ) %>

											</div>
		             </div>
		         </div>
