



<div class="jumbotron">
<div class="container">

      <h1>启职网</h1>
      <p>你梦想工作的启航平台</p>
      <p><a class="btn btn-danger btn-lg" href="/jobs" role="button">马上应聘</a></p>
    </div>
</div>






<hr class="featurette-divider">


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<h1 class="text-center">合作伙伴</h1>

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-square" src="http://www.outbrain.com/risingstars/wp-content/uploads/708x708-RS-Profile-Ashley-Callahan-400x400.jpg">
      <h2>Andrew Mike</h2>
      <p>HR Manager</p>
      <p>"启职网是值得信赖的网络招聘合作伙伴，是我们最主要的招聘渠道之一"</p>
      <p><a class="btn btn-primary" href="#">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-square" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg">
      <h2>John Marvel</h2>
      <p>CEO</p>
      <p>"启职网操作简便，功能强大，资源丰富，是我公司长期合作伙伴"</p>
      <p><a class="btn btn-primary" href="#">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-square" src="https://1.bp.blogspot.com/-aruLLVlXyJM/V_t-TxTncZI/AAAAAAAAJ3k/hnQKKVmKuOY_awf1nHGTsukGfw4qrde-gCLcB/s400/2.jpg">
      <h2>Inna Corman</h2>
      <p>Product Manager</p>
      <p>"启职网用最快的时间和最高的效率为我们公司找到了最需要的人才！"</p>
      <p><a class="btn btn-primary" href="#">View details »</a></p>
    </div>
  </div><!-- /.row -->


  <hr class="featurette-divider">


<h1 class="text-center">合作品牌</h1>

<div class="row">
<div class="col-md-3 text-center">
  <a href="/jobs/search?utf8=✓&q=samsung" class="recommend-item" target="_blank" data-sa="open" data-starget="add_l0uowaiilpdo" data-smod="ad_inside" data-sinfo="{'type':'热门校招','name':'搜狗2017校园招聘,36,1'}">
  <img class="imageoval" src="https://yourmobile.ca/wp-content/uploads/2016/07/Samsung-logo-2015-Nobg-1-400x200.png" alt="">
  <div class="recommend-item-mask">
  </div>
  </a>
</div>

<div class="col-md-3 text-center">
  <a href="jobs/search?utf8=%E2%9C%93&q=amazon" class="recommend-item" target="_blank" data-sa="open" data-starget="add_pmu4qqxme0bt" data-smod="ad_inside" data-sinfo="{'type':'热门校招','name':'百事2017校园招聘,1,1'}">
  <img class="imageoval" src="https://www.currenciesdirect.com/getattachment/f30cfd65-6ddc-492b-a465-abafed05321b/amazon.png" alt="">
  <div class="recommend-item-mask">
  </div>
  </a>
  </div>


<div class="col-md-3 text-center">
  <a href="/jobs/search?utf8=✓&q=mic" class="recommend-item" target="_blank" data-sa="open" data-starget="add_j5znmoknqmf4" data-smod="ad_inside" data-sinfo="{'type':'热门校招','name':'NIKE2017招聘,1,2'}">
  <img class="imageoval" src="https://advizex.com/wp-content/uploads/2015/12/microsoft-logo-400x200-400x200.png" alt="">
  <div class="recommend-item-mask">
  </div>
  </a>
</div>

<div class="col-md-3 text-center">
  <a href="/jobs/search?utf8=%E2%9C%93&q=yum" class="recommend-item" target="_blank" data-sa="open" data-starget="add_9pvfizn66vmb" data-smod="ad_inside" data-sinfo="{'type':'热门校招','name':'百胜招聘,1,40'}">
  <img class="imageoval" src="http://www.encore.tech/Images/customers/ent_yum.jpg" alt="">
  <div class="recommend-item-mask">
  </div>
  </a>
  </div>

</div>










  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="http://pic.pedaily.cn/201506/20150610092131163116.jpg">
    <h2 class="featurette-heading">更快速的互联网招聘平台。专注，只为给您更快的职位讯息。<br> <span class="text-muted">——风投网投资人王小姐</span></h2>
    <p class="lead"></p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-left" src="https://ww3.sinaimg.cn/large/006tKfTcgy1ff6sbrnti3j30k20k2jws.jpg">
    <h2 class="featurette-heading">更聪明的互联网招聘平台.敏捷，推荐最适合您的职位信息。<br><span class="text-muted">——隆鑫资本CEO 李建</span></h2>
    <p class="lead"></p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="https://ww2.sinaimg.cn/large/006tKfTcgy1ff6svrbgsjj30si0sgnpd.jpg">
    <h2 class="featurette-heading">更方便的互联网招聘平台。让您随时随地掌握更适合您的职位信息。<br><span class="text-muted">——加拿大Telus董事 Susan</span></h2>
    <p class="lead"></p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->



     <!-- xinshiyanbiaoge -->
