/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "font-awesome";



  @import url(http://fonts.googleapis.com/css?family=Roboto);

/******footer's import*****/




/**********background color**************/

html body
  {
  background-color: #f7f8fa;
  }






/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  background-color: red;
  color: white
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}







/****** Edit profile picture ******/
  .round-image-50 {
        background-color: white;
        border: 1px solid #d9d9d9;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        height: 50px;
        width: 50px;
        overflow: hidden;
        text-align: center;
        img { width: 100% }
    }

    .date-select {
        display: inline-block;
        width: 30%;
    }








/****** 封面 welcome index ******/

.jumbotron {
background-image:url('https://ww1.sinaimg.cn/large/006tNc79gy1ff6zxtmkaaj30ug0j8qt8.jpg');
background-repeat: no-repeat;
background-size: cover;
padding-bottom: 200;
color: white;

  height: 900px;
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: center;
  margin-top: 200px;

  margin-bottom: 100px;
}

.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}
    .caption {
    margin: 30px;
    text-align: center;
    top: 20px;
  }

  .thumbnail {
      border: 0 none;
      box-shadow: none;
      margin-top: 60px;
  }

  .custab{
    border: 1px solid #ccc;

    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;

    transition: 0.5s;
  }

  .custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
  }

   .navbar-default {
       background-color: #222222;  //背景颜色

       border-color: #333333; //边框色

       margin-bottom: 0; //底部 margin 不撑开距离
   }
    @media (min-width: 768px) {
      .navbar {
        border-radius: 0; //圆角为0
      }
    }
     .navbar-default .navbar-brand {
       color: #ecf0f1; //字体颜色

       padding: 10px 15px; //上下10px，左右15px
       line-height: 30px; //文字行高
     }

     .navbar-default .navbar-brand:hover,
     .navbar-default .navbar-brand:focus {
       color: #89d8f7; //鼠标放置在链接上的文字颜色

       background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
     }

      .navbar-default .navbar-nav > li > a{
        color: #ecf0f1;

      }

      .navbar-default .navbar-nav > li > a:hover,
      .navbar-default .navbar-nav > li > a:focus {
        color: #89d8f7;

        background-color: transparent;
      }
      .navbar-default .navbar-nav > .active > a,
      .navbar-default .navbar-nav > .active > a:hover,
      .navbar-default .navbar-nav > .active > a:focus {
        color: #89d8f7;

        background-color: #222222;

      }

      .navbar-default .navbar-nav > .open > a,
      .navbar-default .navbar-nav > .open > a:focus,
      .navbar-default .navbar-nav > .open > a:hover {
        background-color: #eeeeee;

        color: #222222;

      }
/**********************************************************/

       .navbar-brand > img {
        display: inline-block; //图片和链接文字显示在同一行
        margin-right: 10px; //图片和链接文字拉开一点距离
        width: 32px; //定制图片宽度
        height: 32px; //定制图片高度
    }
     .container-fluid .jumbotron{
       padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
       margin: 0 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
       border-radius: 0;//圆角为0
     }


      .btn-primary {
          color: #fff;//字体颜色

          background-color: #36a5e4;//背景颜色

          border-color: #228bca;//边框颜色

      }

      .btn-danger:hover {
          background-color: orange;//鼠标放置在btn上的背景颜色

          border-color: #white;//鼠标放置在btn上的边框颜色

      }

       .btn-lg, .btn-group-lg > .btn {
     padding: 8px 16px;//通过padding来决定btn的大小
     font-size: 20px;//btn文字大小
     letter-spacing: 3px;//调整文字间距
     border-radius: 3px;//btn圆角
     width: 200px;//这里用指定宽度把btn拉得更长
 }

 .form-group {
    margin-bottom: 5px;
    margin-top: 10px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 250px; //加上width
}




/**************************
****************************
******封面翻版***************
****************************/





/* circle img */
.img-square{
    border-radius:50%;
    width:300px;
height:300px;
}

.img-circle{
  width:512px;
height:512px;
}








.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}





























/************************************************************************************************************************/


/*******footer*******/
html { height: 100%;}
  body { min-height: 100%; display: flex; flex-direction: column;}
  .content { flex: 1;}



  .footer-distributed{
  	background-color: #292c2f;
  	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  	box-sizing: border-box;
  	width: 100%;
  	text-align: left;
  	font: bold 16px sans-serif;

  	padding: 55px 50px;
  	margin-top: 80px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  	display: inline-block;
  	vertical-align: top;
  }

  /* Footer left */

  .footer-distributed .footer-left{
  	width: 40%;
  }

  /* The company logo */

  .footer-distributed h3{
  	color:  #ffffff;
  	font: normal 36px 'Cookie', cursive;
  	margin: 0;
  }

  .footer-distributed h3 span{
  	color:  #5383d3;
  }

  /* Footer links */

  .footer-distributed .footer-links{
  	color:  #ffffff;
  	margin: 20px 0 12px;
  	padding: 0;
  }

  .footer-distributed .footer-links a{
  	display:inline-block;
  	line-height: 1.8;
  	text-decoration: none;
  	color:  inherit;
  }

  .footer-distributed .footer-company-name{
  	color:  #8f9296;
  	font-size: 14px;
  	font-weight: normal;
  	margin: 0;
  }

  /* Footer Center */

  .footer-distributed .footer-center{
  	width: 35%;
  }

  .footer-distributed .footer-center i{
  	background-color:  #33383b;
  	color: #ffffff;
  	font-size: 25px;
  	width: 38px;
  	height: 38px;
  	border-radius: 50%;
  	text-align: center;
  	line-height: 42px;
  	margin: 10px 15px;
  	vertical-align: middle;
  }

  .footer-distributed .footer-center i.fa-envelope{
  	font-size: 17px;
  	line-height: 38px;
  }

  .footer-distributed .footer-center p{
  	display: inline-block;
  	color: #ffffff;
  	vertical-align: middle;
  	margin:0;
  }

  .footer-distributed .footer-center p span{
  	display:block;
  	font-weight: normal;
  	font-size:14px;
  	line-height:2;
  }

  .footer-distributed .footer-center p a{
  	color:  #5383d3;
  	text-decoration: none;;
  }


  /* Footer Right */

  .footer-distributed .footer-right{
  	width: 20%;
  }

  .footer-distributed .footer-company-about{
  	line-height: 20px;
  	color:  #92999f;
  	font-size: 13px;
  	font-weight: normal;
  	margin: 0;
  }

  .footer-distributed .footer-company-about span{
  	display: block;
  	color:  #ffffff;
  	font-size: 14px;
  	font-weight: bold;
  	margin-bottom: 20px;
  }

  .footer-distributed .footer-icons{
  	margin-top: 25px;
  }

  .footer-distributed .footer-icons a{
  	display: inline-block;
  	width: 35px;
  	height: 35px;
  	cursor: pointer;
  	background-color:  #33383b;
  	border-radius: 2px;

  	font-size: 20px;
  	color: #ffffff;
  	text-align: center;
  	line-height: 35px;

  	margin-right: 3px;
  	margin-bottom: 5px;
  }

  /* If you don't want the footer to be responsive, remove these media queries */

  @media (max-width: 880px) {

  	.footer-distributed{
  		font: bold 14px sans-serif;
  	}

  	.footer-distributed .footer-left,
  	.footer-distributed .footer-center,
  	.footer-distributed .footer-right{
  		display: block;
  		width: 100%;
  		margin-bottom: 40px;
  		text-align: center;
  	}

  	.footer-distributed .footer-center i{
  		margin-left: 0;
  	}

  }





/*******index show page*******/

.service-single{
  margin-top: 30px;
padding-bottom: 10px;
border: 1px solid #e8e8e8;
box-shadow: 0 0 10px #e8e8e8;
}
.service-single .box-top{
background: #FFA500;
padding: 30px;
color: #fff;
}
.service-single .box-top i{
font-size: 50px;
padding: 20px 0;
}
.service-single .box-top h2{
font-size: 16px;
text-transform: uppercase;
margin-bottom: 45px;
}
.service-single .box-down{
max-width: 350px;
margin: 0 auto;
border-radius: 100%;
background: #fff;
margin-top: -50px;
padding: 50px 25px 10px 25px;
}
.service-single .btn-holly{
  background: #fff;
border:1px solid #f0f0f0;
border-radius: 20px;
color: #FFA500;
}
.service-single .btn-holly:hover{
background: #FFA500;
border-color: #FFA500;
color: #fff;
}


/******************
index jobs
 ******************/
 body {
   background: #fff;
 }

 .page {
   background: #fff;
   width: 350px;
   height: 230px;
   margin: 50px;


  /* Optional Gradient */
   background: -moz-linear-gradient(bottom,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(bottom,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(bottom,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(bottom,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
   background: linear-gradient(bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
 }

 .page h2 {
   padding: 15px 0 0 20px;
   font: 400 35px/1.5 'Lilita One', Helvetica, sans-serif;
 }

 .page p {
   padding: 10px 20px;
   font: 12px/1.5 Helvetica, sans-serif;
   color: #4b4b4b;
 }

 .triangle {
  width: 0px;
  height: 0px;
  border-bottom: 170px solid #000;
  border-right: 170px solid transparent;
 }

 .foldtl {
   position: relative;
   -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
   -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
   box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
 }

 .foldtl:before {
   content: "";
   position: absolute;
   bottom: 0%;
   left: 0%;
   width: 0px;
   height: 0px;
   border-top: 70px solid #eee;
   border-left: 70px solid transparent;
   -webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
   -moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
   box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
 }

 .foldtl:after {
   content: "";
   position: absolute;
   bottom: 0%;
   left: 0%;
   width: 0px;
   height: 0px;
   border-bottom: 69px solid rgba(255, 191, 31, 1);
   border-right: 69px solid transparent;

 }

 .salePercentage {
     font-weight: bold;
     position: absolute;
     padding-top: 35px;
     padding-left: 5px;
     z-index: 1;
     color: #f02333;
 }

 .saleOff {
     font-size: 10px;
     font-weight: bold;
     position: absolute;
     padding-top: 50px;
     padding-left: 5px;
     z-index: 1;
     color: #f02333;
 }

 .imageoval{

     width: 300px;
     height:150px;

     -moz-border-radius: 300px / 150px;
     -webkit-border-radius: 300px / 150px;
     border-radius: 300px / 150px;

 }












/*********show page***************
**********************************
**********************************/

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #36a5e4;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}

/**********
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
*********************************************/
.wrap{
  margin:0 auto;width:960px;
}
.box{
  background-color: white;
}












/**********sidebar**********************/
.pure-menu{box-sizing:border-box}
.pure-menu-fixed{position:fixed;left:0;top:0;z-index:3}
.pure-menu-item,.pure-menu-list{position:relative}
.pure-menu-list{list-style:none;margin:0;padding:0}
.pure-menu-item{padding:0;margin:0;height:100%}
.pure-menu-heading,.pure-menu-link{display:block;text-decoration:none;white-space:nowrap}
.pure-menu-horizontal{width:100%;white-space:nowrap}.pure-menu-horizontal
.pure-menu-list{display:inline-block}
.pure-menu-horizontal .pure-menu-heading,.pure-menu-horizontal .pure-menu-item,.pure-menu-horizontal .pure-menu-separator{display:inline-block;zoom:1;vertical-align:middle}
.pure-menu-item .pure-menu-item{display:block}
.pure-menu-children{display:none;position:absolute;left:100%;top:0;margin:0;padding:0;z-index:3}
.pure-menu-horizontal .pure-menu-children{left:0;top:auto;width:inherit}
.pure-menu-active>.pure-menu-children,.pure-menu-allow-hover:hover>.pure-menu-children{display:block;position:absolute}
.pure-menu-has-children>.pure-menu-link:after{padding-left:.5em;content:"\25B8";font-size:small}
.pure-menu-horizontal .pure-menu-has-children>.pure-menu-link:after{content:"\25BE"}
.pure-menu-scrollable{overflow-y:scroll;overflow-x:hidden}
.pure-menu-scrollable .pure-menu-list{display:block}
.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list{display:inline-block}
.pure-menu-horizontal.pure-menu-scrollable{white-space:nowrap;overflow-y:hidden;overflow-x:auto;-ms-overflow-style:none;-webkit-overflow-scrolling:touch;padding:.5em 0}
.pure-menu-horizontal.pure-menu-scrollable::-webkit-scrollbar{display:none}
.pure-menu-horizontal .pure-menu-children .pure-menu-separator,.pure-menu-separator{background-color:#ccc;height:1px;margin:.3em 0}
.pure-menu-horizontal .pure-menu-separator{width:1px;height:1.3em;margin:0 .3em}
.pure-menu-horizontal .pure-menu-children .pure-menu-separator{display:block;width:auto}
.pure-menu-heading{text-transform:uppercase;color:#000}
.pure-menu-link{color:#777}.pure-menu-children{background-color:#fff}
.pure-menu-disabled,.pure-menu-heading,.pure-menu-link{padding:.5em 1em}
.pure-menu-disabled{opacity:.5}
.pure-menu-disabled .pure-menu-link:hover{background-color:transparent}
.pure-menu-active>.pure-menu-link,.pure-menu-link:focus,.pure-menu-link:hover{background-color:#999999}
.pure-menu-selected .pure-menu-link,.pure-menu-selected .pure-menu-link:visited{color:#428bca}
