/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "font-awesome";



  @import url(http://fonts.googleapis.com/css?family=Roboto);

/******footer's import*****/




/**********background color**************/

html body
  {
  background-image: url('https://ww1.sinaimg.cn/large/006tKfTcgy1ff54rju5qsj30b40b43zy.jpg');
  background-repeat: repeat;
  }






/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  background-color: red;
  color: white
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}







/****** Edit profile picture ******/
  .round-image-50 {
        background-color: white;
        border: 1px solid #d9d9d9;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        height: 50px;
        width: 50px;
        overflow: hidden;
        text-align: center;
        img { width: 100% }
    }

    .date-select {
        display: inline-block;
        width: 30%;
    }








/****** 封面 ******/

    .jumbotron {
      background-image:url('http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-542213.png');
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 110px;
    }

    .title {


  background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
  max-width: 500px;//最大宽度
  margin-top: 200px;//和顶部拉开距离
  margin-bottom: 0;//这样就可以紧接息面的描述文字
  border-top-right-radius: 3px;//右上角圆边
  border-top-left-radius: 3px;//左上角圆边
}

 .jumbotron h1, .jumbotron .h1 {
     text-align: left;//文字左对齐
     color: #222;  //字体颜色

     padding: 50px 20px 0;//上50px，左右20px，下0
 }

 .jumbotron p {

     margin: 0;//上下左右margin为0
     font-size: 26px;//字体大小
     max-width: 500px;//最大宽度
     background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
     padding: 20px;//上下左右padding为20px
     text-align:left;//文字左对齐
     color: #222;//字体颜色

     border-bottom-right-radius: 3px;//右下角圆边
     border-bottom-left-radius: 3px;//左下角圆边
 }


    .slogan {
      margin-top: 10px;
      margin-bottom: 50px;
      text-align: center;
      color: white;
      top: 12px;
    }

    .lead {
      margin-bottom: 60px;
      text-align: center;
      color: white;
    }
    .caption {
    margin: 30px;
    text-align: center;
    top: 20px;
  }

  .thumbnail {
      border: 0 none;
      box-shadow: none;
      margin-top: 60px;
  }

  .custab{
    border: 1px solid #ccc;

    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;

    transition: 0.5s;
  }

  .custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
  }

   .navbar-default {
       background-color: darkgray;  //背景颜色

       border-color: darkgray; //边框色

       margin-bottom: 0; //底部 margin 不撑开距离
   }
    @media (min-width: 768px) {
      .navbar {
        border-radius: 0; //圆角为0
      }
    }
     .navbar-default .navbar-brand {
       color: #EF6C00; //字体颜色

       padding: 10px 15px; //上下10px，左右15px
       line-height: 30px; //文字行高
     }

     .navbar-default .navbar-brand:hover,
     .navbar-default .navbar-brand:focus {
       color: #FF6F00; //鼠标放置在链接上的文字颜色

       background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
     }

      .navbar-default .navbar-nav > li > a{
        color: #EF6C00;

      }

      .navbar-default .navbar-nav > li > a:hover,
      .navbar-default .navbar-nav > li > a:focus {
        color: #FF6F00;

        background-color: transparent;
      }
      .navbar-default .navbar-nav > .active > a,
      .navbar-default .navbar-nav > .active > a:hover,
      .navbar-default .navbar-nav > .active > a:focus {
        color: #FF6F00;

        background-color: #FFE0B2;

      }

      .navbar-default .navbar-nav > .open > a,
      .navbar-default .navbar-nav > .open > a:focus,
      .navbar-default .navbar-nav > .open > a:hover {
        background-color: #FFE0B2;

        color: #212121;

      }


       .navbar-brand > img {
        display: inline-block; //图片和链接文字显示在同一行
        margin-right: 10px; //图片和链接文字拉开一点距离
        width: 32px; //定制图片宽度
        height: 32px; //定制图片高度
    }
     .container-fluid .jumbotron{
       padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
       margin: 0 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
       border-radius: 0;//圆角为0
     }


      .btn-danger {
          color: #fff;//字体颜色

          background-color: #EF6C00;//背景颜色

          border-color: #EF6C00;//边框颜色

      }

      .btn-danger:hover {
          background-color: #E65100;//鼠标放置在btn上的背景颜色

          border-color: #E65100;//鼠标放置在btn上的边框颜色

      }

       .btn-lg, .btn-group-lg > .btn {
     padding: 8px 16px;//通过padding来决定btn的大小
     font-size: 20px;//btn文字大小
     letter-spacing: 3px;//调整文字间距
     border-radius: 3px;//btn圆角
     width: 200px;//这里用指定宽度把btn拉得更长
 }

 .form-group {
    margin-bottom: 5px;
    margin-top: 10px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 250px; //加上width
}




/**************************
****************************
******封面翻版***************
****************************/
































/*******footer*******/
html { height: 100%;}
  body { min-height: 100%; display: flex; flex-direction: column;}
  .content { flex: 1;}





/*******index show page*******/

.service-single{
  margin-top: 30px;
padding-bottom: 10px;
border: 1px solid #e8e8e8;
box-shadow: 0 0 10px #e8e8e8;
}
.service-single .box-top{
background: #FFA500;
padding: 30px;
color: #fff;
}
.service-single .box-top i{
font-size: 50px;
padding: 20px 0;
}
.service-single .box-top h2{
font-size: 16px;
text-transform: uppercase;
margin-bottom: 45px;
}
.service-single .box-down{
max-width: 350px;
margin: 0 auto;
border-radius: 100%;
background: #fff;
margin-top: -50px;
padding: 50px 25px 10px 25px;
}
.service-single .btn-holly{
  background: #fff;
border:1px solid #f0f0f0;
border-radius: 20px;
color: #FFA500;
}
.service-single .btn-holly:hover{
background: #FFA500;
border-color: #FFA500;
color: #fff;
}


/******************
index jobs
 ******************/
 body {
   background: #fff;
 }

 .page {
   background: #fff;
   width: 350px;
   height: 230px;
   margin: 50px;


  /* Optional Gradient */
   background: -moz-linear-gradient(bottom,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(bottom,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(bottom,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(bottom,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
   background: linear-gradient(bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
 }

 .page h2 {
   padding: 15px 0 0 20px;
   font: 400 35px/1.5 'Lilita One', Helvetica, sans-serif;
 }

 .page p {
   padding: 10px 20px;
   font: 12px/1.5 Helvetica, sans-serif;
   color: #4b4b4b;
 }

 .triangle {
  width: 0px;
  height: 0px;
  border-bottom: 170px solid #000;
  border-right: 170px solid transparent;
 }

 .foldtl {
   position: relative;
   -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
   -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
   box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
 }

 .foldtl:before {
   content: "";
   position: absolute;
   bottom: 0%;
   left: 0%;
   width: 0px;
   height: 0px;
   border-top: 70px solid #eee;
   border-left: 70px solid transparent;
   -webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
   -moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
   box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
 }

 .foldtl:after {
   content: "";
   position: absolute;
   bottom: 0%;
   left: 0%;
   width: 0px;
   height: 0px;
   border-bottom: 69px solid rgba(255, 191, 31, 1);
   border-right: 69px solid transparent;

 }

 .salePercentage {
     font-weight: bold;
     position: absolute;
     padding-top: 35px;
     padding-left: 5px;
     z-index: 1;
     color: #f02333;
 }

 .saleOff {
     font-size: 10px;
     font-weight: bold;
     position: absolute;
     padding-top: 50px;
     padding-left: 5px;
     z-index: 1;
     color: #f02333;
 }





/*********show page***************
**********************************
**********************************/

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #FF6F00;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}

/**********
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
*********************************************/
.wrap{
  margin:0 auto;width:960px;
}
.box{
  background-color: white;
}
