<footer class="container" style="margin-top: 100px;">
  <p class="pull-right"><a href="#">Back to top</a></p>

  <p class="text-center">Copyright @2017 Tangvwin
    <br>Design by Tangvwin
  </p>
</footer>
